@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

.ts-root {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 7px 4px;
    font-size: 16px;
    border-bottom: 2px solid rgb(198, 198, 198);
    font-family: 'Hind', sans-serif;
    color: black;
    font-weight: 500;
}

.btns {
    justify-self: right;
    align-self: center;
}

.smaller {
    width: 70%;
    height: 1%;
}

.desc-input {
    width: 50%;
}

.edit-delete {
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    color: rgb(48, 48, 244);
    background-color: rgb(236, 236, 236);
}

.edit-input {
    border-radius: 5px;
    width: 32vw;
    height: 4vh;
    border: none;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);
    outline-color: rgba(48, 48, 244, 0.6);
}

.timecode,
.description {
    display: inline-block;
}

.description {
    white-space: normal;
    width: 26vw;
    margin-left: 2px;
}

.timecode {
    display: inline-flex;
    align-items: flex-start;
}

#editable-ts {
    height: 10vh;
}

@media (max-width: 500px) {
    .ts-root {
        width: 60vw;
        flex-direction: column;
    }
}