.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-field {
  margin: 20px;
}

.message {
  color: black;
  margin: 5px;
}

header {
  background-color: #282c34;
  width: 100vw;
  color: whitesmoke;
}

.content {
  display: flex;
  flex-direction: column;
}

.body {
  background-color: beige;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border: 5px solid black;
}

.App-link {
  color: #61dafb;
}

.button-click {
  background-color: antiquewhite;
  border-color: #61dafb;
  color:darkolivegreen;
}

.timestamps {
  margin-top: 15px;
  width: 100%;
  
}

.right-side {
  border: 1px solid black;
  display: flex;
  flex: 2;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
}

.right-wrapper {
  margin-top: 50px;
  width: 50%;
}

.left-side {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
}

