@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Space+Mono&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: black;
}

.input-field {
  margin: 20px;
  width: 30vw;
  font-family: 'Space Mono', monospace;
}

.usalass {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 70%;
  border-radius: 15px;
  background-color: white;
  color: rgba(42, 62, 235, 1);
  border: 3px solid rgb(134, 149, 197);
  font-family: 'Space Mono', monospace;
  padding: 30px;
  font-size: 14px;
}

.message {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  background-color: rgba(42, 62, 235, 1);
  color: white;
  border-radius: 10px;
  padding: 2px 7px;
  width: 90%;
  margin-top: 5px;
}

header {
  background-color:rgba(42, 62, 235, 1);
  width: 100vw;
  height: 13vh;
  color: whitesmoke;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.content {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-color:rgba(42, 62, 235, 1); 
}

.button-click {
  background-color: rgb(61, 79, 236);
  color: white;
  border: 1px white solid;
  padding: 10px;
  margin: 15px 15px;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
}

.timestamps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  width: 50vw;
  height: 60vh;
  overflow: scroll;
}

.timestamps:empty {
  display: none;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  height: auto;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.left-side {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  color: black;
  font-size: large;
  border-right: 3px solid rgb(134, 149, 197);
}

#add {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(42, 62, 235, 1);
  padding: 5px;
  border-radius: 10px;
  height: 6vh;
  width: 10vw;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  color: white;
}

.tooltip-text {
  visibility: hidden;
  display: block;
  color: white;
  background-color: rgba(42, 62, 235, 1);
  width: 5vw;
  position: absolute;
  border: 1px solid black;
  bottom: 0;
}

.tooltip {
  display: flex;
  align-items: center;
  padding: 5px;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
  width: auto;
} 

.main-edit {
  display: flex;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 78vh;
  width: 85vw;
  background-color:rgb(237, 237, 237);
  border: 3px solid rgb(134, 149, 197);
}

.copy-delete {
  display: flex;
}

.video-responsive {
  align-self: center;
}

#paste-message {
  text-align: center;
  font-size: 30px;
}

.btns-row {
  display: flex;
  width: 62vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.copy-delete-btns {
  background-color: rgba(42, 62, 235, 1);
  border-radius: 10px;
  width: 9vw;
  height: 6vh;
  padding: 3px 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.another-video-btn {
  background-color: rgba(42, 62, 235, 1);
  padding: 10px;
  border-radius: 6px;
  margin-left: 20px;
  font-weight: 450;
}

.subheader {
  font-family: "Space Mono", monospace;
  color: rgba(42, 62, 235);
  font-weight: 700;
  margin-left: 10px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  pointer-events: all;
  transition: 0.5s;
}


.modal .active {
  width: 40vw;
  height: 30vh;
  transform: scale(1);
  opacity: 1;
}

#paste-message {
  font-size: 28px;
}