.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: black;
}

.input-field {
  margin: 20px;
}

.usalass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  margin: 5px;
}

header {
  background-color:mediumpurple;
  width: 100vw;
  height: 15vh;
  color: whitesmoke;
}

.content {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.button-click {
  background-color: black;
  color: white;
  border: 1px white solid;
}

.timestamps {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 85%;
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  height: auto;
  justify-content: center;
  padding: 10px;
}


.left-side {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: black;
  border-right: 3px solid rgb(20, 31, 66);
}

#add {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  color: white;
}

.tooltip {
  color: black;
  display: inline-block;
}

.tooltip-text {
  display: inline-block;
  visibility: hidden;
  color: black;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
} 

.main-edit {
  display: flex;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 75vh;
  width: 80vw;
  margin-top: 75px;
  background-color:lavender;
  border: 3px solid rgb(20, 31, 66);
}

.copy-delete {
  display: flex;
}